@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Geologica:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FAFAFA;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.iti {
  --iti-path-flags-1x: url("../images/form/flags.webp");
  --iti-path-flags-2x: url("../images/form/flags@2x.webp");
  --iti-path-globe-1x: url("../images/form/globe.webp");
  --iti-path-globe-2x: url("../images/form/globe@2x.webp");
}

.main__btn {
  border-radius: 30px;
  background: #ECB920;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.02);
  padding: 10px 16px;
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: block;
}

.hero {
  position: relative;
  border-radius: 30px;
  padding: 60px 16px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hero__bg {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  z-index: 0 !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero > * {
  position: relative;
  z-index: 1;
}
.hero__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.hero__top_title {
  width: 100%;
  max-width: 668px;
  color: #FFF;
  font-family: Arsenal;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.hero__top_right {
  width: 100%;
  max-width: 316px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 26px;
  padding-top: 16px;
}
.hero__top_right p {
  color: #FFF;
  text-align: right;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.hero__top_right p span {
  color: #F6E026;
}
.hero__advants {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}
.hero__advants_item {
  padding: 14px 10px 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #FFF;
  background: rgba(60, 80, 97, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  max-width: 298px;
  gap: 12px;
  max-height: 94px;
  align-items: center;
  flex: 1;
}
.hero__advants_item img {
  width: 40px;
  height: 40px;
}
.hero__advants_item p {
  color: #FFF;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.hero__scroll {
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.hero__scroll_img {
  max-width: 80px;
  max-height: 80px;
}
.hero .hero_bottom_btn {
  display: none;
}

.map {
  margin-top: 60px;
  position: relative;
  scroll-margin-top: 60px;
}
.map__text {
  padding: 10px 16px;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 30px;
  border: 1px solid #3D3D55;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.02);
  color: #424242;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  z-index: 1;
  text-decoration: none;
}
.map .main__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 316px;
}
.map .map-card {
  min-width: 300px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.map .map-card::after {
  content: "";
  position: absolute;
  width: 330px;
  height: 50px;
  background: #fafafa;
  bottom: 0;
  right: 0;
  border-radius: 30px 0 0 0;
}
.map .map-card .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.map .map-card .box::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 35px;
  background: transparent;
  bottom: 0;
  right: 329px;
  border-radius: 0 0 30px 0;
  z-index: 1;
  box-shadow: 10px 10px #fafafa;
}
.map .map-card .box::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  bottom: 50px;
  right: 0;
  border-radius: 0 0 30px 0;
  z-index: 1;
  box-shadow: 10px 10px #fafafa;
}
.map .map-card .box img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 30px;
  display: block;
}
.map .map-card .cta {
  width: 320px;
  height: 90px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.map .map-card .cta img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.peace-block {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
}

.peace-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
}

.peace-text {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

.title__dark {
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 40px;
  text-align: center;
}
.title__dark span {
  color: #ECB920;
}

.why {
  margin-top: 80px;
  margin-bottom: 60px;
}
.why__content {
  display: flex;
  gap: 20px;
}
.why .second-card {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
  background: #E5FFE9;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.why .second-card::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fff;
  top: 0;
  left: 0;
  border-radius: 30px 0;
}
.why .second-card .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.why .second-card .box h3 {
  padding-left: 80px;
  padding-top: 15px;
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
}
.why .second-card .box p {
  padding-top: 25px;
  color: #3D3D55;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 0.1px;
  position: relative;
  z-index: 3;
  padding-left: 20px;
}
.why .second-card .box::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #e5ffe9;
  top: 68px;
  left: 0px;
  border-radius: 30px 0 0 0;
  z-index: 1;
  box-shadow: -10px -10px 0 0 #fafafa;
}
.why .second-card .box::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  top: 0px;
  left: 67px;
  border-radius: 30px 0 0 0;
  z-index: 1;
  box-shadow: -10px -10px 0px #fafafa;
}
.why .second-card .box img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 30px;
}
.why .second-card .cta {
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.why .second-card .cta img {
  width: 100%;
}
.why__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}
.why__right {
  flex: 1;
  border-radius: 30px;
  position: relative;
}
.why__right_bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.why__right_txt {
  color: #FFF;
  text-align: right;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 389px;
}

.card-1 {
  height: 272px;
}

.card-2 {
  height: 248px;
}

.card {
  position: relative;
  max-width: 565px;
  display: flex;
}
.card .advants-img {
  width: 60px;
  height: 60px;
}
.card .advants-bg1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.card__content {
  position: relative;
  z-index: 12;
}
.card__content_ttl {
  padding: 20px;
  padding-left: 40px;
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  /* 118.75% */
}
.card__content_txt {
  padding-top: 10px;
  max-width: 520px;
  margin-left: -35px;
  color: #3D3D55;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.investors {
  padding: 60px 83px;
  border-radius: 30px;
  border: 1px solid #8ABCDA;
  background: url(../images/investors_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 1160px;
}
.investors__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.investors__cards_item {
  border-radius: 30px;
  border: 1px solid #92CDF1;
  background: #E5FFE9;
  padding: 39px 33px;
}
.investors__cards_item h3 {
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 16px;
}
.investors__cards_item p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.investors__cards_item-bg {
  margin-top: 20px;
}
.investors__cards_item-bg h3 {
  color: #3D3D55;
}
.investors__cards_item-bg p {
  color: #3D3D55;
}

.title__light {
  color: #FFF;
  text-align: center;
  font-family: Arsenal;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.title__light span {
  color: #ECB920;
}

.amman {
  padding: 60px 83px;
  max-width: 1160px;
  position: relative;
  border-radius: 30px;
  margin: 0 auto;
  scroll-margin-top: 30px;
}
.amman__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 30px;
}
.amman__top {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.amman__top_left {
  flex: 1;
}
.amman__top_left .orange_amman {
  padding: 39px 33px;
  background: url(../images/amman_card_bg.webp);
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 20px;
}
.amman__top_left .orange_amman p {
  color: #FFF;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.amman__top_left .orange_amman p span {
  color: #3D3D55;
}
.amman__top_left .amman-advants {
  display: flex;
  gap: 20px;
}
.amman__top_left .amman-advants-item {
  border-radius: 20px;
  border: 1px solid #ECB920;
  background: #E5FFE9;
  padding: 20px;
  flex: 1;
}
.amman__top_left .amman-advants-item h3 {
  color: #ECB920;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.amman__top_left .amman-advants-item p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.amman__top_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.amman__top_right .amman_logo {
  width: 100%;
  max-width: 130px;
}
.amman__top_right .amman-factories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
.amman__top_right .amman-factories-item {
  background-color: #fff;
  padding: 8px 16px 8px 20px;
  border-radius: 15px;
  border: 1px solid #3D3D55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.amman__top_right .amman-factories-item p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.amman__top_right .amman-factories-item img {
  width: 40px;
  height: 40px;
}
.amman__text {
  margin-top: 90px;
  color: #FFF;
  text-align: center;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.amman__text span {
  color: #ECB920;
}

.slides {
  position: relative;
}

:root {
  --slide-radius: 16px; /* Скругление углов */
  --slide-height: 288px; /* Фиксированная высота слайда */
  --slide-gap: 16px; /* Отступ между слайдами */
}

/* Основной контейнер карусели */
.swiper-1 {
  width: 100%;
  height: var(--slide-height); /* Явная высота */
  overflow: hidden; /* Скрываем края других слайдов */
}

/* Обёртка слайдов */
.swiper-wrapper-1 {
  display: flex;
  height: 100%; /* Наследуем высоту */
}

/* Слайд */
.swiper-slide-1 {
  flex-shrink: 0;
  height: 100%; /* Полная высота контейнера */
  position: relative;
  overflow: hidden;
  border-radius: var(--slide-radius);
}

/* Определяем ширину слайдов для соотношения 1/3 и 2/3 */
.swiper-slide-1:nth-child(2n+1) {
  width: calc((100% - var(--slide-gap)) / 3); /* 1/3 ширины */
}

.swiper-slide-1:nth-child(2n) {
  width: calc((100% - var(--slide-gap)) * 2 / 3); /* 2/3 ширины */
}

/* Изображение растягивается по размеру слайда */
.swiper-slide-1 img {
  width: 100%;
  height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

/* Мобильная точка перелома: один слайд */
@media (max-width: 768px) {
  .swiper-slide-1 {
    width: 100% !important;
  }
  .swiper-1 img {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0 auto;
  }
  .swiper-slide-1:nth-child(2n+1),
  .swiper-slide-1:nth-child(2n) {
    width: 100% !important;
  }
}
.swiper-nav-1 {
  width: 100%;
  position: relative;
}

/* Кнопки навигации */
.swiper-button-prev-1,
.swiper-button-next-1 {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: unset !important;
  bottom: -70px !important;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-1 {
  left: 16px;
}

.swiper-button-next-1 {
  right: 16px;
}

.swiper-button-prev-1::after {
  content: url(../images/arrow-left.svg) !important;
}

.swiper-button-next-1::after {
  content: url(../images/arrow-right.svg) !important;
}

.anotherAdvants {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 60px;
}
.anotherAdvants__left {
  flex: 0.5;
  background: url(../images/baybg.webp);
  background-size: cover;
  border-radius: 30px;
  max-height: 370px;
  padding: 58px 53px;
}
.anotherAdvants__left h3 {
  color: #FDFDFF;
  font-family: Arsenal;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.anotherAdvants__left h3 span {
  color: #ECB920;
}
.anotherAdvants__left p {
  color: #FFF;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.anotherAdvants__right {
  flex: 0.5;
  border-radius: 30px;
  background: #92CDF1;
  padding: 24px;
}
.anotherAdvants__right_item {
  display: flex;
  border-radius: 20px;
  border: 1px solid #3D3D55;
  background: #E6F8FF;
  padding: 10px 8px;
  margin-bottom: 16px;
  gap: 12px;
  align-items: center;
}
.anotherAdvants__right_item:last-child {
  margin-bottom: 0;
}
.anotherAdvants__right_item img {
  width: 40px;
  height: 40px;
}
.anotherAdvants__right_item p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.anotherAdvants__right_item p span {
  font-style: 600;
}

.interest {
  margin-top: 60px;
}
.interest__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interest__title h2 {
  text-align: center;
  flex: 1;
}
.interest__title p {
  flex: 1;
  color: #3D3D55;
  text-align: right;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.interest .interest__hero {
  min-width: 300px;
  height: 300px;
  background: #fff;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.interest .interest__hero::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 200px;
  background: #fafafa;
  top: 0;
  right: 0;
  border-radius: 0 0 0 30px;
}
.interest .interest__hero .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.interest .interest__hero .box::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  top: 200px;
  right: 0;
  border-radius: 0 30px 0 0;
  z-index: 1;
  box-shadow: 10px -10px #fafafa;
}
.interest .interest__hero .box::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  top: 0;
  right: 400px;
  border-radius: 0 30px 0 0;
  z-index: 1;
  box-shadow: 10px -10px #fafafa;
}
.interest .interest__hero .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 20px;
}
.interest .interest__hero .cta {
  width: 390px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 40px;
  background: #E5FFE9;
  border: 1px solid #92CDF1;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 13px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.interest .interest__hero .cta h3 {
  color: #ECB920;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: start;
}
.interest .interest__hero .cta p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.interest__cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-top: 20px;
}
.interest__cards-1 {
  background-color: #E5FFE9;
  border: 1px solid #92CDF1 !important;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  display: none !important;
}
.interest__cards-1 h3 {
  color: #ECB920;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: start !important;
}
.interest__cards_item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  border: 1px solid #ECB920;
  padding: 20px;
}
.interest__cards_item-left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.interest__cards_item-left img {
  width: 40px;
  height: 40px;
}
.interest__cards_item-left h3 {
  color: #ECB920;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.interest__cards_item p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.strategy {
  margin-top: 60px;
}
.strategy__cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
}
.strategy__cards_item {
  flex: 1;
  background: #E6F8FF;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.strategy__cards_item::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fafafa;
  top: 0;
  right: 0;
  border-radius: 0 0 0 30px;
}
.strategy__cards_item .box {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 37px;
  padding-left: 20px;
  padding-right: 0;
}
.strategy__cards_item .box::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 60px;
  background: transparent;
  top: 70px;
  right: 0;
  border-radius: 0 30px 0 0;
  z-index: 1;
  box-shadow: 10px -10px #fafafa;
}
.strategy__cards_item .box::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  background: transparent;
  top: 0;
  right: 70px;
  border-radius: 0 30px 0 0;
  z-index: 1;
  box-shadow: 10px -10px #fafafa;
}
.strategy__cards_item .box h3 {
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 20px;
}
.strategy__cards_item .box p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.strategy__cards_item .box img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 20px;
}
.strategy__cards_item .cta {
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 13px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.strategy__cards_item .cta img {
  width: 60px;
}

.structure {
  margin-top: 60px;
}
.structure .swiper-2 {
  width: 100%;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.structure .swiper-slide-2 {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.structure .swiper-slide-2 img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.structure .structure-next-btn,
.structure .structure-prev-btn {
  width: 50px !important;
  height: 50px !important;
  top: 38% !important;
}
.structure .structure-next-btn::before {
  content: url(../images/arrow-right-dark.svg) !important;
}
.structure .structure-prev-btn::before {
  content: url(../images/arrow-left-dark.svg) !important;
}
.structure .structure-next-btn::after {
  content: none;
}
.structure .structure-prev-btn::after {
  content: none;
}
.structure .custom-slide {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.structure .custom-slide img {
  width: 100% !important;
  height: 288px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.structure .custom-slide .slider__desc {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.structure .custom-slide .slider__desc h3 {
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  word-wrap: nowrap;
}
.structure .custom-slide .slider__desc p {
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

.steps {
  margin-top: 60px;
}
.steps__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps__title h2 {
  text-align: start;
}
.steps__title p {
  color: #3D3D55;
  text-align: right;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.steps .accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}
.steps .accordion .accordion-item {
  border: 1px solid #e3e3e3;
  border-radius: 14px;
  margin-bottom: 12px;
  background: #fff;
  overflow: hidden;
}
.steps .accordion .accordion-item:nth-child(5) {
  background: #9fd2fb;
  border: 1px solid #8ABCDA;
}
.steps .accordion .accordion-item.open .chevron {
  transform: rotate(180deg);
}
.steps .accordion .accordion-item.open .panel {
  opacity: 1;
}
.steps .accordion .accordion-item .accordion-header {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  padding: 18px 22px;
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.steps .accordion .accordion-item .accordion-header .accordion-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.steps .accordion .accordion-item .accordion-header .accordion-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.steps .accordion .accordion-item .accordion-header .num {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}
.steps .accordion .accordion-item .accordion-header .dot {
  display: block;
  width: 10px;
  height: 10px;
  background: #3D3D55;
  flex: 0 0 auto;
  border-radius: 50%;
}
.steps .accordion .accordion-item .accordion-header .index {
  color: #3D3D55;
  font-family: Arsenal;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  /* 52.8px */
}
.steps .accordion .accordion-item .accordion-header .chevron {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.steps .accordion .accordion-item .panel {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0 22px;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.steps .accordion .accordion-item .panel .panel-content {
  padding: 16px 0 22px;
  padding-left: 125px;
  line-height: 1.6;
  color: #3D3D55;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}
.steps .accordion .green {
  background: #d9f7e4;
  border: 1px solid #8ABCDA;
}
.steps .accordion .b-orange {
  border: 1px solid #ECB920;
}

.footer {
  margin-top: 60px;
  background-color: #424242;
  padding: 50px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  flex: 1;
}
.footer__left_logo-mobile {
  display: none;
}
.footer__left_yellow {
  color: #ECB920;
  font-family: Arsenal;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.footer__mid {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer__mid img {
  width: 100%;
  max-width: 143px;
}
.footer__right {
  flex: 1;
}
.footer__right_contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.footer__right_contacts a {
  color: #FFF;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: block;
  text-decoration: none;
}
.footer__right .socials {
  margin-top: 14px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.footer__right .socials a > img {
  width: 40px;
  height: 40px;
}
.footer .copyright, .footer .madeBy {
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 8px;
}
.footer .madeBy {
  margin-top: 0;
}
.footer .madeBy a {
  color: rgba(255, 255, 255, 0.8);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.footer .copyright-mobile, .footer .madeBy-mobile {
  display: none;
}

.popupSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popupSuccess__content {
  background-color: #9fd2fb;
  border: 1px solid #8ABCDA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 370px;
  max-width: 80%;
  border-radius: 30px;
}
.popupSuccess__content h2 {
  font-family: Geologica;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
.popupSuccess__content p {
  font-family: Geologica;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.popupSuccess__content button {
  outline: none;
  border: 1px solid #8ABCDA;
  background-color: #b8f0cd;
  color: #000;
  max-width: 180px;
  font-family: Geologica;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 89;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  will-change: transform, opacity; /* подсказываем браузеру */
  backface-visibility: hidden; /* устраняет возможные артефакты */
  transform: translateZ(0);
}

.whatsapp.visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 980px) {
  .hero__top {
    flex-direction: column;
  }
  .hero__top h1, .hero__top p {
    text-align: center;
  }
  .hero_top_btn {
    display: none !important;
  }
  .hero_bottom_btn {
    display: block !important;
    margin: 0 auto;
    width: 300px;
  }
  .hero__advants_item p {
    font-size: 16px !important;
  }
  .interest__cards {
    flex-direction: column;
    margin-top: 10px;
  }
  .interest__cards_item {
    flex-direction: column;
  }
  .strategy__content_ttl {
    font-size: 21px !important;
    line-height: 22px !important;
  }
}
@media screen and (max-width: 860px) {
  .hero__advants_item p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto !important;
    margin: 0 -20px;
  }
  .hero__advants {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .hero__advants_item {
    padding: 4px 10px 4px 4px;
  }
  .map .map-card .cta {
    width: 265px;
  }
  .map .map-card::after {
    width: 275px;
  }
  .map .map-card .box::after {
    right: 274px;
  }
  .hero__top_right {
    margin-bottom: 20px;
  }
  .why__content {
    flex-direction: column;
  }
  .why__content .why__right {
    min-height: 390px;
    background-position-y: bottom;
  }
  .investors {
    padding: 60px 16px;
  }
  .investors__cards {
    grid-template-columns: 1fr;
  }
  .amman {
    padding: 60px 16px;
  }
  .amman__top {
    flex-direction: column;
  }
  .anotherAdvants {
    flex-direction: column;
    gap: 0;
  }
  .anotherAdvants__left {
    border-radius: 30px 30px 0 0;
  }
  .anotherAdvants__right {
    border-radius: 0 0 30px 30px;
  }
  .interest__title, .steps__title {
    flex-direction: column;
  }
  .interest__title h2, .steps__title h2 {
    text-align: center;
  }
  .interest__title p, .steps__title p {
    text-align: center;
    margin-bottom: 10px;
  }
  .interest__hero {
    display: none !important;
  }
  .interest__cards-1 {
    display: flex !important;
  }
  .second-card .box p {
    padding-right: 10px;
  }
  .strategy__cards {
    flex-direction: column;
  }
  .strategy__content_txt {
    padding-right: 10px;
  }
  .accordion-header {
    flex-direction: column !important;
    align-items: start !important;
  }
  .accordion-header-right {
    width: 100%;
  }
  .panel-content {
    padding-left: 0 !important;
  }
  .footer {
    flex-direction: column;
    align-items: start;
  }
  .footer__left_logo-mobile {
    display: inline-block;
    width: 100%;
    max-width: 144px;
    margin-bottom: 20px;
  }
  .footer__left .copyright, .footer__left .madeBy {
    display: none;
  }
  .footer__left_yellow {
    margin-bottom: 8px;
  }
  .footer__mid {
    display: none;
  }
  .footer__right_contacts {
    align-items: start;
    gap: 8px;
  }
  .copyright-mobile, .madeBy-mobile {
    display: block !important;
  }
}
@media screen and (max-width: 550px) {
  .hero__top_title {
    font-size: 50px;
  }
  .map .map-card .box img {
    border-radius: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .why {
    margin-top: 20px;
  }
  .why__right_txt {
    right: 15px;
    max-width: 295px;
  }
  .title__light {
    font-size: 40px;
  }
  .investors__cards_item {
    padding: 20px 33px;
  }
  .swiper-1 img {
    width: 100% !important;
    height: 288px;
  }
  .interest {
    margin-top: 20px;
  }
  .interest .interest__title h2 {
    margin-bottom: 20px;
  }
  .interest__cards-1 {
    gap: 15px;
  }
  .steps {
    margin-top: 20px;
  }
}
@media screen and (max-width: 390px) {
  .hero__top_title {
    font-size: 45px;
  }
}/*# sourceMappingURL=styles.css.map */